.leia-mais {
    padding: 0.5em;
    margin: 1em;
    display: block;
    font-size: 1.25em;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog {
    padding-bottom: 2.5em;
    border-bottom: 0.2 rem solid #ccc;
    margin-bottom: 1.25em;
}
