.readme
{
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 8px;
    margin: 16x;
    text-align: center;
    display: block;
    background-color: #E6E7E8;
}
article footer
{
    font-style: italic;
    font-family: inherit;
    font-size: 75%;
    color: inherit;
    background-color: inherit;
}
time
{
    font-size: 90%;
    font-weight: lighter;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
}