.blog
{
    position: relative;
}
.blog .mais-recente
{

    background-color: white;
    width: 30%
}
.blog .mais-recente a
{
    color:#F26
}
.inicio-post
{
    color: #000;
    position: absolute;
    padding: 1em;
    background-color: white;
    height: 10em;
    left: 30%;
    top: 15%;
}

.foto-home {
    height: 200px;
    border-radius: 50%;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    margin: 3em;
    font-size: 1.7em;
}
.saudacao-inicio {
    font-size: 6em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;

}
.saudacao strong {
    font-size: 3em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 3.5em;
    display: inline-block;
    transform: rotate(-7deg) skew(-10deg);
    
}
.botao-index {
    font-size: 1.2em;
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 400px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 0.5em;
    
}
.secao-inicio h2 {
    text-transform: uppercase;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 0.5em solid #000;
    border-bottom: 0.5em solid #000;
    padding: 1.25em;
}
.trabalhos h2 {
    color: #FFF;
    font-size: 3em;
    margin-bottom: 0.25em;
}
.trabalhos ul {
    overflow: hidden;
    border: 0.5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: 0.5em solid #851944;
    padding: 1.25em;
}
.blog h2
{
    font-size: 3em;
    margin-bottom: -0.25em;
}
.blog ol
{
    margin-top: 2.5em;
}    
.blog li a {
    color: #FCF;
    display: block;
    padding: 1rem;
}
footer {
    background-color: #000;
    color: #FFF;
}
footer h2
{
    font-size: 3em;
    padding-top: 0.5em;
    padding-left: 0.25em;
}
footer p
{
    padding-left: 0.8em;
    padding-bottom: 2em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
header
{
    position: relative;
}

.palavras-home
{
    font: initial;
    position: absolute;
    perspective: 6px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.palavra-home
{
    color: #D5447E;
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
}
.eficiencia {
    top: 20%;
    left: 75%;
    transform: translate(-50%,-50%) rotate(10deg) translateZ(4px);
}
.boas-praticas {
    top: 70%;
    left: 20%;
    transform: translate(-50%,-50%) rotate(10deg) translateZ(4px);
}
.codigo-limpo {
    top: 45%;
    left: 10%;
    transform: translate(-50%,-50%) rotate(10deg) translateZ(4px);
}
.css3 {
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%) rotate(10deg) translateZ(4px);
}
.html5 {
    top: 40%;
    left: 80%;
    transform: translate(-50%,-50%) rotate(10deg) translateZ(4px);
}
.javascript {
    top: 10%;
    left: 60%;
    transform: translate(-50%,-50%) rotate(10deg) translateZ(4px);
}
.acessibilidade {
    top: 30%;
    left: 25%;
    transform: translate(-50%,-50%) rotate(10deg) translateZ(4px);
}
.responsivo {
    top: 15%;
    left: 15%;
    transform: translate(-50%,-50%) rotate(10deg) translateZ(4px);
}
.otimizacoes {
    top: 60%;
    left: 70%;
    transform: translate(-50%,-50%) rotate(10deg) translateZ(4px);
}
.agilidade {
    top: 10%;
    left: 30%;
}
.design {
    top: 35%;
    left: 65%;
}

.subtitulo-principal
{
   font-size: 0.4em;
}
.label
{
    font-family: "Open Sans Condensed" , Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #3C1D3D;
    line-height: 3em;
    width: 14em;
    border: #000 solid 0.25em;
    font-size: 0.4em;
    position: fixed;
    top:0;
    right: 0;
    float: right;
    box-sizing: border-box;
    transform-origin: 0 0;

    transform: translate(6.5754em, -2.4749em) rotate(45deg);
}